/*custom css page for paws website*/
/*.navbar {
	background-color: #c553d6 ;
}*/

a.navbar-item:hover{
	color: white !important;
	background-color: #a72cba !important;
}

a.navbar-item.right{
	margin-left:auto; 
	margin-right:0;
}

a.navbar-item{
	color: #ffffff !important;
}

#navbarDesktop.navbar-brand{
	width: 100%;
}

div.control{
	background-color: #c553d6;
	padding: 10px;
}

article {
	box-shadow: 5px 5px 5px #808080;
}

#navbarDesktopTitle {
	display: block;
    margin-left: auto;
    margin-right: auto;
   
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

p.title, p.subtitle, label.label{
	color: white !important;
}

article {
	width: 100% !important;
	height: auto !important;
	padding: 5% 10% !important;
}

.chart {
	width: 100%;
	min-height: 450px;
}

.row {
	margin: 0 !important;
}

input.input.searchbar{
	width: 85% !important;
	height: auto !important;
}

button.button.is-link.searchbutton{
	position:absolute !important;
	top: 10.5px !important;
	right: 1% !important;
	z-index: +5 !important;
}

button.button.is-link.logout{
	width: 60px;
	float: right !important;
	vertical-align: baseline !important;
}



article.tile.notification.is-primary.search{
	height:40px !important;
	padding: 10px 25px !important;
}

input.input.create{
	width:100%!important;

}

.center{	
	margin: auto;
    width: 80%;
}

div.buttons{
	position:absolute !important;
	top: 25px !important;
	right: 1% !important;
	z-index: +5 !important;
}

.result{
	float: left;
    width: 28%;
}

.selectButton{
	width: 15%;
}

.policy{
	text-align: center !important;
}

label.label{
	width: 64px;
	text-align: left;
}

.inline{
	float:right;
	max-width: 93px;
}

.dogname{
	padding: 1em !important;
	text-align: center;
}

.mother{
	padding: 12px;
}

input.create{
	border: 1px solid black;
}

div.control.create{
	background: #ffffff;
}