/*custom css page for paws website*/

a.navbar-item:hover{
	color: white !important;
	background-color: #a72cba !important;
}

a.navbar-item.right{
	margin-left:auto; 
	margin-right:0;
}

a.navbar-item{
	color: #ffffff !important;
	padding-left: 6px;
	padding-right:6px;
}

#noteTable{
	max-height: 300px;
}

#navbarDesktop.navbar-brand{
	width: 100%;
}

div.control{
	background-color: #c553d6;
	padding: 10px;
}

article {
	box-shadow: 5px 5px 5px #808080;
}

#navbarDesktopTitle {
	display: block;
    margin-left: auto;
    margin-right: auto;
   
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 7px !important;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

p.title, p.subtitle, label.label{
	color: white !important;
}

article {
	width: 100% !important;
	height: auto !important;
	padding: 5% 10% !important;
}

.chart {
	width: 100%;
	min-height: 450px;
}

.row {
	margin: 0 !important;
}

input.input.searchbar{
	width: calc(100% - 80px) !important;
	height: auto !important;
}

button.button.is-link.searchbutton{
	position:absolute !important;
	top: 10.5px !important;
	right: 1% !important;
	margin-left: 2px;
}

button.button.is-link.logout{
	width: 60px;
	float: right !important;
	vertical-align: baseline !important;
}



article.tile.notification.is-primary.search{
	height:65px !important;
	padding: 10px 20px !important;
	width: 100% !important;
}

input.input.create{
	width:100%!important;

}

.center{	
	margin: auto;
    width: 80%;
}

div.buttons{
	position:absolute !important;
	top: 25px !important;
	right: 1% !important;
	z-index: +5 !important;
}

.result{
	float: left;
    width: 28%;
}

.selectButton{
	width: 15%;
}

.policy{
	text-align: center !important;
}

label.label{
	width: 64px;
	text-align: left;
}

.inline{
	float:right;
	max-width: 93px;
}

.dogname{
	padding: 1em !important;
	text-align: center;
}

.mother{
	padding: 12px;
}

input.create{
	border: 1.5px solid black;
}

input.create:hover{
	border: 1.5px solid #3273dc;
}

div.control.create{
	background: #ffffff;
}

#edit{
	margin-right: 3px;
}

article.create{
	margin: auto;
	padding: 10px !important;
}

.centeralign{
	text-align: center;
}

.message{
	display: none;
}

input.input.admin{
	width:100% !important;
}

article.admin{
	width:80% !important;
	padding:25px !important;
	margin: auto;
	margin-top: 10px;
}

label.admin{
	width: auto;
}

input.button.admin{
	margin-top:2px;
	position: 5px;

}

a.button.is-link{
	margin: 5px 0px;
	width:100%;
}

#adminLink{
	display: none;
}

article.litter{
	padding: 50px 45px !important;
	
}

.dogname{
	padding: 15px 10px !important;
}

#loginError{
	color:red;
}

#puppyNoteTable{
	width:100%;
}


.navbar-menu.is-active{
    background-color: #a72cba !important;
}

.navbar-item,.navbar-link{
color:#fff !important;
background-color: #c553d6 !important;
}

.navbar-link:hover{
    color:#fff !important;
    background-color: #a72cba !important;
}

.navbar-burger{
color: #fff !important;
}

.is-child.box{
box-shadow: 5px 5px 5px #808080;
}

#searchResults.section{
	padding: 30px 10px !important;
	height: 120px !important;
}

